<div class="header-nav">
    <div class="header-nav-wrapper navbar-scrolltofixed bg-theme-colored border-bottom-theme-color-2-1px">
        <div class="container">
            <nav id="menuzord" class="menuzord bg-theme-colored pull-left flip menuzord-responsive">
                <ul class="menuzord-menu">
                    <li class="active"><a href="/">Home</a>
                    </li>
                    <li><a href="/courses">Categories</a>
                        <ul class="dropdown">
                            {{#each categories}}
                                <li><a href="/courses?categoryid={{this.id}}">{{this.name}}</a>
                                    <ul class="dropdown">
                                        {{#each this.fields}}
                                            <li><a href="/courses?fieldid={{this.id}}">{{this.name}}</a></li>
                                        {{/each}}
                                    </ul>
                                </li>
                            {{/each}}
                        </ul>
                    </li>
                    <li class="active"><a href="/courses">All courses</a>
                    </li>
                    {{#if isAuth}}
                        <li><a href="/users/detail/{{{authUser.id}}}#watchList">Your watch list</a>
                            <ul class="dropdown">
                                {{#each watchList}}
                                    <li><a href="/courses/{{this.id}}">{{this.name}}</a>
                                    </li>
                                {{/each}}
                            </ul>
                        </li>
                    {{/if}}
                    {{#if (isTeacher authUser.role)}}
                        <li class="active"><a href="/teacher/courses">Manage uploaded courses</a>
                        </li>
                    {{/if}}
                </ul>
                <div id="top-search-bar" class="collapse">
                    <div class="container">
                        <form role="search" action="#" class="search_form_top" method="get">
                            <input type="text" placeholder="Type text and press Enter..." name="s" class="form-control"
                                   autocomplete="off">
                            <span class="search-close"><i class="fa fa-search"></i></span>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
