{{#section 'css'}}
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.3/plyr.css"/>

    <link rel="stylesheet"
          href="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006288/BBBootstrap/choices.min.css?version=7.0.0">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/css/fileinput.min.css">

    <link href="/assets/client/css/rating.css" rel="stylesheet" type="text/css">

    <link href="/assets/client/css/bootstrap-rating.css" rel="stylesheet" type="text/css">

    <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

        body {
            margin: 0;
            padding: 0;
            font-family: 'Open Sans', serif;
            background: #eee
        }

        .content {
            width: 420px;
            margin-top: 100px
        }

        .ratings {
            background-color: #fff;
            padding: 54px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            box-shadow: 0px 10px 10px #E0E0E0
        }

        .product-rating {
            font-size: 50px
        }

        .stars i {
            font-size: 18px;
            color: #28a745
        }

        .rating-text {
            margin-top: 10px
        }

        .video-container {
            margin: 20px auto;
            max-width: 500px;
        }
    </style>
{{/section}}

{{#section 'js'}}
    <script src="https://cdn.plyr.io/3.6.3/plyr.js"></script>
    <script src="/assets/client/js/bootstrap-rating.js" type="text/javascript"></script>
    <script
            src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006273/BBBootstrap/choices.min.js?version=7.0.0"></script>
    <script src="https://cdn.tiny.cloud/1/o4dikek5c6dsuwbmp60ubupm9bbaqq6vdgyl6kpm4qhvd5iy/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/fileinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/themes/fa/theme.min.js"></script>
    <script>
        tinymce.init({
            editor_selector: 'txtDes',
            height: 600,
            mode: "specific_textareas",
            plugins: 'paste image link autolink lists table media',
            menubar: false,
            toolbar: [
                'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
            ],
        });
    </script>
    <script>
        $('#fuMain').fileinput({
            theme: 'fa',
            dropZoneEnabled: false,
            allowedFileExtensions: ['mp4'],
        });
    </script>
    <script>
        $('a.add-video').on('click', function () {
            let id = $(this).attr('data-id');
            let courseId = $(this).attr('data-courseid');
            $('form#addVideo-form').on('submit', function (e) {
                $('#addVideo-form').attr('action', `/courses/${courseId}/lessons/${id}?_method=POST`);
            });
        });
    </script>
    <script>
        $('a.edit-lesson').on('click', function () {
            let id = $(this).attr('data-id');
            let title = $(this).attr('data-title');
            let des = $(this).attr('data-des');
            let courseId = $(this).attr('data-courseid');
            $('#edit-lesson #title-edit').attr('value', `${title}`);
            tinymce.get('des-edit').setContent(des);
            $('form#edit-lesson').attr('action', `/courses/${courseId}/lessons/${id}?_method=PUT`);
        });
    </script>

    <script>
        $('button.add-lesson').on('click', function () {
            let id = $(this).attr('data-id');
            $('#add-lesson').attr('action', `/courses/${id}/lessons`);
        });

    </script>

    <script>
        $(document).ready(function () {
            const players = Plyr.setup('.js-player');
            {{#if data.isAuthor}}

            {{else}}
                {{#if data.user_lesson.currentlesson}}
                    players[0].on('loadeddata', event => {
                        players[0].currentTime = {{data.user_lesson.currentpause}};
                    });
                {{/if}}


                function updateEnd() {
                    const url = `/courses/{{data.thisCourse.id}}/lessons/{{data.lessons.0.id}}/{{data.lessons.0.order}}/ended`;
                    $.ajax({
                        type: "PUT",
                        url: `${url}`,
                        data: JSON.stringify({pause: 0}),
                        contentType: 'application/json',
                        success: function (response) {
                            if (response.result == 'redirect') {
                                //redirecting to main page from here.
                                window.location.replace(response.url);
                            }
                        }
                        /*** Note that The default content type of an ajax post is
                        urlencoded even though I didn't specify it in my post ***/
                    });
                };

                function updatePause(timePause) {
                    const url = `/courses/{{data.thisCourse.id}}/lessons/{{data.lessons.0.id}}/{{data.lessons.0.order}}`;
                    $.ajax({
                        type: "PUT",
                        url: `${url}`,
                        data: JSON.stringify({pause: timePause}),
                        contentType: 'application/json'
                        /*** Note that The default content type of an ajax post is
                        urlencoded even though I didn't specify it in my post ***/
                    });
                };

                players[0].on('ended', event => {
                    updateEnd();
                })

                $('video.js-player').on('play', function () {
                    players[0].on('pause', event => {
                        console.log(players[0].currentTime);
                        updatePause(players[0].currentTime);
                    });
                    return false;
                });
            {{/if}}
            window.player = players;
        })
    </script>
    <script src="/assets/client/js/input-validator.js">
    </script>
    <script type="text/javascript">
        Validator({
            form: '#add-lesson',
            formGroupSelector: '.form-group',
            errorSelector: '.form-message',
            rules: [
                Validator.isRequired('#title', `<div class="alert alert-warning" role="alert">
                                <strong class = "form-message">Title can't empty</strong>
                            </div>`)
            ]
        });

        Validator({
            form: '#edit-lesson',
            formGroupSelector: '.form-group',
            errorSelector: '.form-message',
            rules: [
                Validator.isRequired('#title-edit', `<div class="alert alert-warning" role="alert">
                                <strong class = "form-message">Title can't empty</strong>
                            </div>`)
            ]
        });

    </script>
    <script>
        let courseRating = {{data.thisCourse.rating}};
        $('div.ratings').append(`<span class="product-rating">${courseRating.toFixed(2)}</span><span>/5</span>
                <div class="stars"></div><div class="rating-text"><span>{{data.thisCourse.commentscount}} ratings</span></div>`);
        for (let i = 1; i <= 5; i++) {
            if (i <= Math.round(courseRating))
                $("div.ratings div.stars").append(`<i class="fa fa-star">`);
        }
    </script>
{{/section}}
{{#if data.thisCourse}}
    <section class="course_details_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 course_details_left">
                    <div class="main_image">
                        <img class="img-fluid" src="/assets/client/images/courses/{{data.thisCourse.id}}.png"
                             alt="course image"
                             onerror="this.onerror=null; this.src='/assets/client/images/not-found.jpg'">
                    </div>
                    <div class="content_wrapper">
                        <h4 class="title_top">Short description</h4>
                        <div>
                            {{#if data.thisCourse.tinydes}}
                                <div
                                    style="background-color: rgb(255, 255, 255);border: 1px solid rgb(179, 179, 179);padding: 30px; border-radius: 5%; margin-bottom: 20px">
                                    {{{data.thisCourse.tinydes}}}
                                </div>
                            {{else}}
                                <p>No short description</p>
                            {{/if}}
                        </div>
                        <h4 class="title_top">Description</h4>
                        <div>
                            {{#if data.thisCourse.description}}
                                <div
                                        style="background-color: rgb(255, 255, 255);border: 1px solid rgb(179, 179, 179);padding: 30px; border-radius: 5%;">
                                    {{{data.thisCourse.description}}}
                                </div>
                            {{else}}
                                <p>No description</p>
                            {{/if}}
                        </div>


                        <h4 class="title">Course Outline</h4>
                        <div>
                            <ul class="course_list">
                                {{#if data.lessons.length}}
                                    {{#each data.lessons as |lesson|}}
                                        {{#if lesson}}
                                            <li class="justify-content-between align-items-center d-flex">
                                                <p style="padding-left: 20px;">{{lesson.title}}</p>
                                                <div class="row"
                                                     style="display: flex;text-align: center; align-items: center;">

                                                    <div class="collapse multi-collapse"
                                                         id="collapseExample{{lesson.id}}">
                                                        {{#if lesson.description}}
                                                            <div
                                                                    style="background-color: rgb(255, 255, 255);width: 300px;border: 1px solid rgb(179, 179, 179);padding: 30px;margin: 20px; border-radius: 5%;">
                                                                {{{lesson.description}}}
                                                            </div>
                                                        {{/if}}
                                                        <div class="video-container">
                                                            <video id="id-video" class="js-player" controls crossorigin
                                                                   playsinline autopause
                                                                   poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg"
                                                                   width="720" height="450"
                                                                   style=" width: 100%; height: auto ;max-height: 100%;"
                                                                   data-id="{{lesson.id}}"
                                                                   data-courseid="{{lesson.courseid}}"
                                                                   data-order="{{lesson.order}}">
                                                                <source
                                                                        src="{{lesson.videourl}}"
                                                                        type="video/mp4" size="576">
                                                                <source
                                                                        src="{{lesson.videourl}}"
                                                                        type="video/mp4" size="720">
                                                                <source
                                                                        src="{{lesson.videourl}}"
                                                                        type="video/mp4" size="1080">

                                                                <!-- Caption files -->
                                                                <track kind="captions" label="English" srclang="en"
                                                                       src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt"
                                                                       default>
                                                                <track kind="captions" label="Français" srclang="fr"
                                                                       src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.fr.vtt">
                                                                <!-- Fallback for browsers that don't support the <video> element -->
                                                                <a href="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4"
                                                                   download>Download</a>
                                                            </video>
                                                            {{!-- Start currentTime pause video --}}
                                                            <form action="" method="POST" class="time-pause-video"
                                                                  data-id="{{lesson.id}}"
                                                                  data-courseid="{{lesson.courseid}}">
                                                                <input type="hidden" name="pause" class="timepause"
                                                                       value="">
                                                            </form>
                                                            {{!-- End currentTime pause video --}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="btn_2 text-uppercase" data-toggle="collapse"
                                                   href="#collapseExample{{lesson.id}}" role="button"
                                                   aria-expanded="false"
                                                   aria-controls="collapseExample{{lesson.id}}">View
                                                    Details</a>
                                                {{#if ../data.isAuthor}}
                                                    <a class="edit-lesson" href="#lessonEditModal" data-toggle="modal"
                                                       data-id="{{lesson.id}}" data-courseid="{{lesson.courseid}}"
                                                       data-title="{{lesson.title}}"
                                                       data-order= {{lesson.order}} data-des="{{lesson.description}}"
                                                       style="margin-left: 20px">
                                                        <img src="/assets/client/images/icon/edit.png"
                                                             style="width: 30px;"/>
                                                    </a>

                                                    <a class="add-video" href="#videoModal" data-toggle="modal"
                                                       data-id="{{lesson.id}}"
                                                       data-courseid="{{lesson.courseid}}" role="button">
                                                        <img src="/assets/client/images/icon/video.png"
                                                             style="width: 50px; padding-left:15px">
                                                    </a>
                                                {{/if}}
                                            </li>
                                        {{/if}}
                                    {{/each}}
                                {{/if}}
                                {{#if data.isAuthor}}
                                    <button class="add-lesson btn btn-primary" type="button" data-toggle="modal"
                                            data-target="#lessonModal"
                                            style="margin-left:10px; margin-bottom: 50px;"
                                            data-id="{{data.thisCourse.id}}">Add
                                    </button>
                                {{/if}}
                            </ul>
                        </div>


                        <div class="bg-info rounded shadow-sm p-4 mb-4 restaurant-detailed-ratings-and-reviews">
                            <h3 class="mb-1">All Ratings and Reviews</h3>
                            {{#each this.data.reviews}}
                                <div class="reviews-members pt-4 pb-4">
                                    <div class="media">
                                        <div class="media-body">
                                            <div>
                                                <input value="{{{point}}}" data-readonly style="margin-top: 5px;" name="point" type="hidden" class="rating"/>
                                            </div>
                                            <div class="reviews-members-header">
                                                <p class="text-gray">{{{fullname}}} - {{{formatDate createddat}}}</p>
                                            </div>
                                            <div class="reviews-members-body">
                                                <p>{{{comment}}}</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <hr>
                            {{/each}}
                            <a class="text-center w-100 d-block mt-4 font-weight-bold" href="#"></a>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4 right-contents">
                    <div class="product-summary">
                        <h2 class="product-title">{{data.thisCourse.name}}</h2>
                        <div class="product_review">
                            <ul class="review_text list-inline">
                                <li>
                                    <div title="Rated 4.50 out of 5" class="star-rating"><span
                                            style="width: 90%;">{{data.thisCourse.rating}}</span></div>
                                </li>
                                <li><a href="#"><span>{{{this.data.totalReview}}} </span>Reviews</a></li>

                            </ul>
                        </div>
                        <div>
                            <h5 class="product-title">Author: {{data.author.fullname}}</h5>
                        </div>
                        <div class="price">
                            <ins><span class="amount">{{format data.thisCourse.price}} VND</span></ins>
                        </div>
                        <div class="short-description">
                            <p>{{{data.thisCourse.description}}}</p>
                        </div>
                        <div class="tags"><strong>Number lessons: </strong>{{data.thisCourse.lessonscount}}</div>
                        <div class="category"><strong>Quantity purchased: </strong><a
                                href="#">{{data.thisCourse.getscount}}</a></div>
                        <div class="tags"><strong>View: </strong><a href="#">{{data.thisCourse.viewscount}}</a></div>
                    </div>
                    <b>About author:</b>
                    <div class="item">
                        <article class="post clearfix maxwidth600 mb-sm-30">
                            <div class="entry-header">
                                <div class="post-thumb thumb">
                                    <img style="height: 250px;" src="{{{data.author.imgpath}}}" alt="course pic"
                                         class="img-responsive img-fullwidth"
                                         onerror="this.onerror=null; this.src='/assets/client/images/not-found.jpg'">
                                </div>
                                <div class="entry-meta meta-absolute text-center pl-15 pr-15">
                                    <div class="display-table">
                                        <div class="display-table-cell">
                                            <ul>
                                                <li><a class="text-white" href="#"><i class="fa fa-arrow-down"></i>
                                                    {{{data.totalGetsCount}}} <br> Enrolled count</a></li>
                                                <li><a class="text-white" href="#"><i class="fa fa-arrow-up"></i>
                                                    {{{data.author.uploadedcount}}} <br> Courses upload</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="entry-content border-1px p-20">
                                <h5 class="entry-title mt-0 pt-0"><i class="fa fa-bell" aria-hidden="true">JOIN DATE: {{{formatDate data.author.joinedat}}}</i></h5>

                                <a class="btn btn-flat btn-dark btn-theme-colored btn-sm pull-left" href="/users/detail/{{{data.author.id}}}">View profile</a>
                                <ul class="list-inline entry-date pull-right font-12 mt-5">
                                    <li><a class="text-theme-colored" href="#">{{{data.author.fullname}}} | {{{data.author.role}}}</a></li>
                                    <li><span class="text-theme-colored"></span></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </article>
                    </div>
                    <div style="margin-top: 20px;">
                        {{#if data.hasThisCourse}}
                            {{#if data.isInWatchList}}
                            {{else}}
                                <a href="javascript: $('form#addToWatchListHeader input').val({{data.thisCourse.id}}); $('form#addToWatchListHeader').submit();"
                                   class="btn_1 d-block">Add to watch list</a>
                            {{/if}}
                        {{else}}
                            {{#if data.isAuthor}}
                            {{else}}
                                {{#if data.isInCart}}
                                    <a href="javascript: $('form#removeFromCartHeader input').val({{data.thisCourse.id}}); $('form#removeFromCartHeader').submit();"
                                       class="btn_1 d-block">Remove from cart</a>
                                {{else}}
                                    <a href="javascript: $('form#addToCartHeader input').val({{data.thisCourse.id}}); $('form#addToCartHeader').submit();"
                                       class="btn_1 d-block">Add to cart</a>
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    </div>
                    <strong>
                    Course rating:
                    </strong>
                    <div class="d-flex justify-content-center">
                        <div class="text-center" style="margin-top: 20px;">
                            <div class="ratings">

                            </div>
                        </div>
                    </div>

                    {{#if data.hasThisCourse}}
                        {{#if data.hasReviewed}}
                        {{else}}
                        <form method="POST" action="/courses/{{{data.thisCourse.id}}}/reviews">
                            <div>
                                <div class="feedeback">
                                    <h3><strong>Your Feedback</strong></h3>
                                    <textarea name="comment" class="form-control" cols="10" rows="10"></textarea>
                                    <input style="margin-top: 5px;" name="point" type="hidden" class="rating"/>
                                    <div class="mt-10 text-right">
                                        <button class="btn btn-primary" style="border-radius: 8px;" type="submit">Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        {{/if}}
                    {{/if}}


                </div>
                {{#if data.isAuthor}}
                    <!-- Modal of add image-->
                    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog"
                         aria-labelledby="videoModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="videoModalLabel">Edit</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="" method="POST" enctype="multipart/form-data" id="addVideo-form">
                                        <div class="image"
                                             style=" width: 100%; display: flex; justify-content: center; padding: 10px;">
                                            <div class="form-group">
                                                <input id="fuMain" name="fuMain" class="file" type="file" multiple>
                                            </div>
                                        </div>
                                        <div class="editor-footer"
                                             style="display: inline-block; display: flex; justify-content: center; padding: 10px;">
                                            <button type='submit' class="btn btn-primary" style="margin-right: 5px;">
                                                <i class="fa fa-check " aria-hidden="true"></i>
                                                Upload
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal of add lesson-->
                    <div class="modal fade" id="lessonModal" tabindex="-1" role="dialog"
                         aria-labelledby="lessonModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="lessonModalLabel">Input Course</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="" method="POST" id="add-lesson">

                                        <div class="form-group">
                                            <label for="title">Title</label>
                                            <input class="form-control" type="input" name="title" id="title"
                                                   placeholder="ex: Introduction lesson" value="">
                                            <br>
                                            <div class="form-message">
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label for="txtDesLesson">Description</label>
                                            <textarea class="txtDes" name="Des" id="txtDesLesson" cols="30" rows="10"
                                                      value=""></textarea>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal of edit lesson-->
                    <div class="modal fade" id="lessonEditModal" tabindex="-1" role="dialog"
                         aria-labelledby="lessonEditModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="lessonEditModalLabel">Input Course</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="" method="POST" id="edit-lesson">
                                        <div class="form-group">
                                            <label for="title-edit">Title</label>
                                            <input class="form-control" type="input" name="title" id="title-edit"
                                                   placeholder="ex: Introduction lesson" value="">
                                            <br>
                                            <div class="form-message">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="des-edit">Description</label>
                                            <textarea class="txtDes" name="des" id="des-edit" cols="30" rows="10"
                                                      value=""></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Save changes
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    </section>
{{else}}
    <p>Khóa học không tồn tại</p>
{{/if}}
