{{#section 'css'}}
<style>
    form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
</style>
{{/section}}

{{#section 'js'}}
    <script>
        $('.pagination').each(function () {
            const pageIndex = {{data.pageIndex}};
            if (pageIndex === 1) {
                $(this).append(`<li class="page-item disabled">
                    <a class="page-link" href="" tabindex="-1">Previous</a>
                </li>`)
            } else {
                $(this).append(`<li class="page-item">
                    <a class="page-link" href="/courses/?{{#if data.fieldId}}fieldid={{data.fieldId}}&{{/if}}pageIndex=${pageIndex - 1}&pageSize={{data.pageSize}}" tabindex="-1">Previous</a>
                </li>`)
            }
            for (let i = 1; i <= {{data.totalPages}}; i++) {
                if (i === pageIndex) {
                    $(this).append(`<li class="page-item active">
                    <a class="page-link" href="/courses?{{#if data.fieldId}}fieldid={{data.fieldId}}&{{/if}}pageIndex=${i}&pageSize={{data.pageSize}}">${i} <span class="sr-only">(current)</span></a>
                </li>`)
                } else {
                    $(this).append(`<li class="page-item"><a class="page-link" href="/courses?{{#if data.fieldId}}fieldid={{data.fieldId}}&{{/if}}pageIndex=${i}&pageSize={{data.pageSize}}">${i}</a></li>`)
                }
            }
            if (pageIndex === {{data.totalPages}}) {
                $(this).append(`<li class="page-item disabled">
                    <a class="page-link" href="">Next</a>
                </li>`)
            } else {
                $(this).append(`<li class="page-item">
                    <a class="page-link" href="/courses/?{{#if data.fieldId}}fieldid={{data.fieldId}}&{{/if}}pageIndex=${pageIndex + 1}&pageSize={{data.pageSize}}">Next</a>
                </li>`)
            }
        })

        const userCourseIds = "{{data.userCourseIds}}";
        const uploadIds = "{{data.uploadIds}}";
        $("div.actionButton").each(function () {
            const id = $(this).attr('data-id');
            if (!userCourseIds.includes(id.toString()) && !uploadIds.includes(id.toString())) {
                $(this).append(`<a href="javascript: $('form#addToCart input#courseid').val(${id}); $('form#addToCart').submit();" class="btn btn-warning">Add to cart</a>`)
            }
        })
    </script>
{{/section}}

<section class="bg-lighter">
    <div class="container pb-60">
        <div class="section-title mb-10">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="mt-0 text-uppercase font-28 line-bottom line-height-1">Our <span
                            class="text-theme-color-2 font-weight-400">COURSES | </span><span
                            class="text-theme-color-2 font-weight-400">{{#if data.title}}{{data.title}}{{else}}Tất cả khóa học{{/if}}</span></h2>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <form class="example" action="/courses" method="GET">
                            <input type="text" placeholder="Search.." name="keyword">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="...">
            <ul class="pagination">
            </ul>
        </nav>
        <div class="section-content">
            <div class="row">
                <div class="owl-carousel-4col" data-dots="true"></div>
                {{#each data.courses}}

                    <div class="col-md-3 col-sm-6 p-10">
                        <div class="item ">
                            <div class="service-block bg-white">
                                <div class="thumb"><img alt="featured project" src="/assets/client/images/courses/{{this.id}}.png"
                                                        class="img-fullwidth" height="150"
                                    onerror="this.onerror=null; this.src='/assets/client/images/not-found.jpg'">
                                    <h4 class="text-white mt-0 mb-0"><span class="price">{{this.price}}$</span></h4>
                                </div>
                                <div class="content text-left flip p-25 pt-0">
                                    <h4 style="height: 55px;" class="line-bottom mb-10">{{this.name}}</h4>
                                    <p>Some quick example text to build on
                                    the card title and make up the bulk of the card's content.</p>
                                    <a class="btn btn-dark btn-theme-colored btn-sm text-uppercase mt-10"
                                        href="/courses/{{this.id}}">view details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- <div class="col-md-3 col-sm-6 p-10">
                        <img src="/assets/client/images/courses/{{this.id}}.png"
                             onerror="this.onerror=null; this.src='/assets/client/images/not-found.jpg'"
                             class="card-img-top" alt="courses image" style="display: block;">
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <p class="card-text" style="width: auto; height: 8em">Some quick example text to build on
                                the card title and make up the bulk of the card's content.</p>
                            <div style="display: flex; justify-content: space-around">
                                <i class="fa fa-eye" style="font-size: 1.2rem" aria-hidden="true"> {{this.viewscount}}</i>
                                <i class="fa fa-star" style="font-size: 1.2rem" aria-hidden="true"> {{this.rating}}</i>
                                <i class="fa fa-download" aria-hidden="true" style="font-size: 1.2rem"> {{this.getscount}}</i>
                                <i class="fa fa-comment" aria-hidden="true" style="font-size: 1.2rem"> {{this.commentscount}}</i>
                            </div>
                        </div>
                        <div class="actionButton" data-id="{{this.id}}">
                            <a href="/courses/{{this.id}}" class="btn btn-primary">View detail</a>
                        </div>
                    </div> --}}
                {{/each}}
            </div>
        </div>
        <nav aria-label="...">
            <ul class="pagination">
            </ul>
        </nav>
    </div>
</section>

<form id="addToCart" action="/cart" method="POST" hidden>
    <label for="courseid">
        <input type="number" id="courseid" name="courseid">
    </label>
</form>
