{{#section 'js'}}
<script src="https://cdn.tiny.cloud/1/o4dikek5c6dsuwbmp60ubupm9bbaqq6vdgyl6kpm4qhvd5iy/tinymce/5/tinymce.min.js"
  referrerpolicy="origin"></script>
<script>
  tinymce.init({
    editor_selector : 'txtDes',
    height: 600,
    mode : "specific_textareas",
    plugins: 'paste image link autolink lists table media',
    menubar: false,
    toolbar: [
      'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
    ],
  });
</script>
<script>
  $('a.edit').on('click', function () {
    let id = $(this).attr('data-id');
    let name = $(this).attr('data-name');
    let number = $(this).attr('data-number');
    let price = $(this).attr('data-price');
    let des = $(this).attr('data-des');
    $('#edit-form #name').attr('value', `${name}`);
    $('#edit-form #number').attr('value', `${number}`);
    $('#edit-form #price').attr('value', `${price}`);
    $('#edit-form #des').attr('value', `${des}`);
  });
</script>
<script>
   $('a.delete-lesson').on('click', function () {
    let id = $(this).attr('data-id');
    let coureID = $(this).attr('data-course'); 
    $.ajax({
            type: 'DELETE',
            url: '/courses/' + coureID + '/lessons/' + id,
            data: id,
            success: function(data){
              console.log(data);
              $('window').location.href = '/courses/' + coureID;
            },
            error: function(err){
                console.log(err);
            }

        });
   
  });
</script>
{{/section}}
{{#if empty}}
<p>Khóa học không tồn tại</p>
{{else}}
<section class="course_details_area section_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 course_details_left">
        {{#if isAuthor}}
        <a class="edit" href="#editModal" data-toggle="modal" datd-id = "{{course.id}}"data-name="{{course.name}}"
          data-number="{{course.lessonscount}}" data-price={{course.price}} data-des="{{course.description}}">
          Edit <image src="/assets/client/images/icon/edit.png" style="width: 50px;">
        </a>

        <!-- Modal of edit Course-->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="/courses/{{course.id}}/edit" method="POST" id="edit-form">
                  <div class="editor" style=" width: 100%; display: flex; justify-content: center; padding: 10px;">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="input" name="name" id="name" placeholder="ex: Python online..." style="width: 100%;">
                      <br><br>

                      <div>
                        <div style="display: inline-block; margin-right: 10px">
                          <label for="name">Number lessons</label>
                          <input type="input" name="number" id="number" placeholder="ex: 40" style="width: 100%;"
                            value=""><br><br>
                        </div>

                        <div style="float: right;">
                          <label for="name">Price</label>
                          <input type="input" name="price" id="price" placeholder="ex: 20" style="width: 100%; "
                            value=""><br><br>
                        </div>
                      </div>

                      <label for="txtDesCourse">Description</label>
                      <textarea class="txtDes" name="Des" id="txtDesCourse" cols="30" rows="10" value=""></textarea>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                </form>
              </div>
              
            </div>
          </div>
        </div>

        {{/if}}
        <h1>{{course.name}}</h1>
        <div class="main_image">
          <img class="img-fluid" src="/assets/client/images/courses/{{course.id}}.png" alt="course image"
            onerror="this.onerror=null; this.src='/assets/client/images/not-found.jpg'">
        </div>
        <div class="content_wrapper">
          <h4 class="title_top">Description</h4>
          <div class="content">
            {{#if course.description}}
              <div style = "background-color: rgb(255, 255, 255);width: 300px;border: 1px solid rgb(179, 179, 179);padding: 30px;margin: 20px; border-radius: 5%;">
                {{{course.description}}}
              </div>
            {{else}}
              <p>No decription</p>
              
            {{/if}}
          </div>

          {{!-- VIDEO
          <video width="320" height="240" controls>
            <source src="/assets/client/videos/python.webm" type="video/webm" />
          </video> --}}
          <h4 class="title">Course Outline</h4>
          <div class="content">
            <ul class="course_list">
              {{#if lesson.length}}
              {{#each lesson}}
              <li class="justify-content-between align-items-center d-flex">
                <p style="padding-left: 20px;">{{this.title}}</p>
                <div class="row" style = "display: flex;text-align: center; align-items: center;">
                  
                  <div class="collapse multi-collapse" id="collapseExample{{this.id}}">
                    {{#if this.description}}
                    <div style = "background-color: rgb(255, 255, 255);width: 300px;border: 1px solid rgb(179, 179, 179);padding: 30px;margin: 20px; border-radius: 5%;">
                        {{{this.description}}}
                    </div>
                    {{/if}}
                  </div>
                    <a class="delete-lesson" href=""  data-id="{{this.id}}" data-course = "{{this.courseid}}" style= "margin-left: 350px">
                    <image src="/assets/client/images/icon/del.png" style="width: 30px;">
                    </a>
                </div>
                <a class="btn_2 text-uppercase" data-toggle="collapse" href="#collapseExample{{this.id}}" role="button"
                  aria-expanded="false" aria-controls="collapseExample{{lesson.id}}">View Details</a>
                  
              </li>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#lessonModal"
                  style="margin-left:10px; margin-bottom: 50px;">Add</button>
              {{/each}}
              {{else}}
              <p>No lesson</p>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#lessonModal"
               >Add</button>
              {{/if}}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 right-contents">
        <div class="sidebar_top">
          <ul>
            <li>
              <a class="justify-content-between d-flex" href="#">
                <p>Trainer’s Name</p>
                <span class="color">{{user.fullname}}</span>
              </a>
            </li>
            <li>
              <a class="justify-content-between d-flex" href="#">
                <p>Course Fee </p>
                <span>$230</span>
              </a>
            </li>
            <li>
              <a class="justify-content-between d-flex" href="#">
                <p>Available Seats </p>
                <span>15</span>
              </a>
            </li>
            <li>
              <a class="justify-content-between d-flex" href="#">
                <p>Schedule </p>
                <span>2.00 pm to 4.00 pm</span>
              </a>
            </li>
          </ul>
          <a href="#" class="btn_1 d-block">Enroll the course</a>
        </div>
        <h4 class="title">Reviews</h4>
        <div class="content">
          <div class="review-top row pt-40">
            <div class="col-lg-12">
              <h6 class="mb-15">Provide Your Rating</h6>
              <div class="d-flex flex-row reviews justify-content-between">
                <span>Quality</span>
                <div class="rating">
                  <a href="#"><img src="/assets/client/images/icon/color_star.svg" alt=""></a>
                  <a href="#"><img src="/assets/client/images/icon/color_star.svg" alt=""></a>
                  <a href="#"><img src="/assets/client/images/icon/color_star.svg" alt=""></a>
                  <a href="#"><img src="/assets/client/images/icon/color_star.svg" alt=""></a>
                  <a href="#"><img src="/assets/client/images/icon/star.svg" alt=""></a>
                </div>
                <span>Outstanding</span>
              </div>
              <div class="d-flex flex-row reviews justify-content-between">
                <span>Puncuality</span>
                <div class="rating">
                  <a href="#"><img src="/assets/client/images/icon/color_star.svg" alt=""></a>
                  <a href="#"><img src="/assets/client/images/icon/color_star.svg" alt=""></a>
                  <a href="#"><img src="/assets/client/images/icon/color_star.svg" alt=""></a>
                  <a href="#"><img src="/assets/client/images/icon/color_star.svg" alt=""></a>
                  <a href="#"><img src="/assets/client/images/icon/star.svg" alt=""></a>
                </div>
                <span>Outstanding</span>
              </div>
              <div class="d-flex flex-row reviews justify-content-between">
                <span>Quality</span>
                <div class="rating">
                  <a href="#"><img src="/assets/client/images/icon/color_star.svg" alt=""></a>
                  <a href="#"><img src="/assets/client/images/icon/color_star.svg" alt=""></a>
                  <a href="#"><img src="/assets/client/images/icon/color_star.svg" alt=""></a>
                  <a href="#"><img src="/assets/client/images/icon/color_star.svg" alt=""></a>
                  <a href="#"><img src="/assets/client/images/icon/star.svg" alt=""></a>
                </div>
                <span>Outstanding</span>
              </div>
            </div>
          </div>
          <div class="feedeback">
            <h6>Your Feedback</h6>
            <textarea name="feedback" class="form-control" cols="10" rows="10"></textarea>
            <div class="mt-10 text-right">
              <a href="#" class="btn_1">Read more</a>
            </div>
          </div>
          <div class="comments-area mb-30">
            <div class="comment-list">
              <div class="single-comment single-reviews justify-content-between d-flex">
                <div class="user justify-content-between d-flex">
                  <div class="thumb">
                    <img src="/assets/client/images/cource/cource_1.png" alt="">
                  </div>
                  <div class="desc">
                    <h5><a href="#">Emilly Blunt</a>
                    </h5>
                    <div class="rating">
                      <a href="#"><img src="/assets/client/images/icon/color_star.svg" alt=""></a>
                      <a href="#"><img src="/assets/client/images/icon/color_star.svg" alt=""></a>
                      <a href="#"><img src="/assets/client/images/icon/color_star.svg" alt=""></a>
                      <a href="#"><img src="/assets/client/images/icon/color_star.svg" alt=""></a>
                      <a href="#"><img src="/assets/client/images/icon/star.svg" alt=""></a>
                    </div>
                    <p class="comment">
                      Blessed made of meat doesn't lights doesn't was dominion and sea earth
                      form
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="comment-list">
              <div class="single-comment single-reviews justify-content-between d-flex">
                <div class="user justify-content-between d-flex">
                  <div class="thumb">
                    <img src="/assets/client/images/cource/cource_2.png" alt="">
                  </div>
                  <div class="desc">
                    <h5><a href="#">Elsie Cunningham</a>
                    </h5>
                    <div class="rating">
                      <a href="#"><img src="/assets/client/images/icon/color_star.svg" alt=""></a>
                      <a href="#"><img src="/assets/client/images/icon/color_star.svg" alt=""></a>
                      <a href="#"><img src="/assets/client/images/icon/color_star.svg" alt=""></a>
                      <a href="#"><img src="/assets/client/images/icon/color_star.svg" alt=""></a>
                      <a href="#"><img src="/assets/client/images/icon/star.svg" alt=""></a>
                    </div>
                    <p class="comment">
                      Blessed made of meat doesn't lights doesn't was dominion and sea earth
                      form
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="comment-list">
              <div class="single-comment single-reviews justify-content-between d-flex">
                <div class="user justify-content-between d-flex">
                  <div class="thumb">
                    <img src="/assets/client/images/cource/cource_3.png" alt="">
                  </div>
                  <div class="desc">
                    <h5><a href="#">Maria Luna</a>
                    </h5>
                    <div class="rating">
                      <a href="#"><img src="/assets/client/images/icon/color_star.svg" alt=""></a>
                      <a href="#"><img src="/assets/client/images/icon/color_star.svg" alt=""></a>
                      <a href="#"><img src="/assets/client/images/icon/color_star.svg" alt=""></a>
                      <a href="#"><img src="/assets/client/images/icon/color_star.svg" alt=""></a>
                      <a href="#"><img src="/assets/client/images/icon/star.svg" alt=""></a>
                    </div>
                    <p class="comment">
                      Blessed made of meat doesn't lights doesn't was dominion and sea earth
                      form
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{#if isAuthor}}
    
    <!-- Modal of add lesson-->
    <div class="modal fade" id="lessonModal" tabindex="-1" role="dialog" aria-labelledby="lessonModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="lessonModalLabel">Input Course</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/courses/{{course.id}}/lessons" method="POST">
              <div class="lesson" style=" width: 100%; display: flex; justify-content: center; padding: 10px;">
                <div class="form-group">
                  <label for="name">Title</label>
                  <input type="input" name="title" id="title" placeholder="ex: Introduction lesson"
                    style="width: 100%;">
                  <br><br>

                  <label for="txtDesLesson">Description</label>
                  <textarea class="txtDes" name="Des" id="txtDesLesson" cols="30" rows="10" value=""></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {{/if}}
</section>
{{/if}}