 <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h2 class="page-title">{{{title}}}</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Welcome to Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
  <!-- start table -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    
                    <div class="row">
                        <div class="input-group col-md-6" style="margin:0px 0px 10px 0px;">
                            <input type="text" class="form-control col-md-4" placeholder="Search">
                            <a href="#" class="btn btn-primary btn-rounded">Search</a>
                        </div>
                       
                        
                    </div>
                    
                    <div class="table-responsive-sm">
                        <table class="table table-light table-centered table-nowrap">
                            <thead class="thead-light">
                                <tr class="text-center">
                                    {{!-- Attribute Column Data --}}
                                        <th>
                                            <input type="checkbox" id="check_id" name="checkcolumn" data-attr="id" hidden>
                                            <label for="check_id"></label>
                                            ID
                                        </th>
                                        <th>
                                            <input type="checkbox" id="check_name" name="checkcolumn" data-attr="name" hidden>
                                            <label for="check_name"></label>
                                            Name
                                        </th>
                                        <th>
                                            <input type="checkbox" id="check_name" name="checkcolumn" data-attr="name" hidden>
                                            <label for="check_name"></label>
                                            Author
                                        </th>
                                        <th>
                                            <input type="checkbox" id="check_name" name="checkcolumn" data-attr="name" hidden>
                                            <label for="check_name"></label>
                                            Status
                                        </th>
                                        <th>
                                            <input type="checkbox" id="check_name" name="checkcolumn" data-attr="name" hidden>
                                            <label for="check_name"></label>
                                            Approved By
                                        </th>
                                        <th>
                                            <input type="checkbox" id="check_name" name="checkcolumn" data-attr="name" hidden>
                                            <label for="check_name"></label>
                                            Price
                                        </th>
                                        
                                    {{!-- end Attribute Column Data --}}
                                </tr>
                            </thead>
                            <tbody id="table-body">
                                {{#each courses}}
                                    <tr class="text-center" id='row_{{{id}}}'>
                                        <td class="text-center">{{{id}}}</td>
                                        <td class="text-center">{{{name}}}</td>
                                        <td class="text-center">{{{authorname}}}</td>
                                        <td class="text-center">{{{statuscode}}}</td>
                                        {{#if approvedbyid}}
                                            <td class="text-center">{{{approvedbyname}}}</td>
                                        {{else}}
                                            <td>
                                                <button style="border-radius: 12%;" type="button" class="btn btn-success"
                                                    onclick="window.location.href='/admin/course/approve/{{{id}}}'"
                                                >Approve</button>
                                            </td>
                                        {{/if}}
                                        <td class="text-center">{{{price}}}</td>

                                    </tr>
                                {{/each}}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end row -->
    <!-- end table -->
{{!-- 
   Add Quick Modal --}}
    <div id="add-quick-modal" class="modal" tabindex="-1" role="dialog">
    </div>